<!DOCTYPE html>
<html lang="en">
<head layout:fragment="head">
    <title>Tronald Dump</title>

    <meta charset="utf-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>
<div class="wrapper">
    <header>
        <h1>
            <a class="hvr-buzz-out" href="/" title="Tronald Dump - Api & web archive for the dumbest things Donald Trump has ever said.">
                <img alt="tronald dump - Api & web archive for the dumbest things Donald Trump has ever said." src="/img/tronalddump_850x850.png"/>
            </a>
        </h1>
    </header>
    <div id="content" layout:fragment="content"/>
    <footer>
        <hr>
        <small>tronalddump.io is free and will always be! However, as maintaining this service costs $$$, we are glad to be sponsored by <a href="https://jugendstil.io" title="Software Consultancy">Jugendstil_IO</a>.</small>
        <small>
            <a title="api documentation" href="https://docs.tronalddump.io/">API DOCUMENTATION</a>&nbsp;
            <a rel="nofollow" href="https://shop.spreadshirt.net/tronalddump">FAN SHOP</a>&nbsp;
            <a href="mailto:m@matchilling.com">CONTACT</a>
        </small>
        <a class="btn small twitter" href="https://twitter.com/MatChilling" target="_blank"><i></i><span>Twitter</span></a>
        <a class="btn small github" href="https://github.com/tronalddump-io" target="_blank"><i></i><span>GitHub</span></a>
        <a class="btn small homepage" href="https://www.matchilling.com" target="_blank"
           title="Mathias Schilling"><i></i><span></span></a>
        <small>
            <b>Legal disclaimer:</b> This website and its creators are not affiliated with Donald Trump or any
            affiliated corporation. All products, and brands mentioned on this website are the respective trademarks and
            copyrights of their owners.
        </small>
        <small><a rel="nofollow" href="/privacy">Privacy Statement</a></small>
    </footer>
</div>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-87356745-1', 'auto');
    ga('send', 'pageview');
</script>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js"
        data-dojo-config="usePlainJson: true, isDebug: false"></script>

<script type="text/javascript">
    require(["mojo/signup-forms/Loader"], function (L) {
        L.start({"baseUrl": "mc.us17.list-manage.com", "uuid": "aa0ea0f3e3c1967e3ffb161ef", "lid": "a0ab3ddeb8"})
    })
</script>

</body>

</html>