<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/default}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Privacy Policy</title>
    <link href="/privacy"/>
</head>
<body>
<div layout:fragment="content">
    <section class="center">
        <h1>Application Privacy Statement</h1>
        <p>This privacy statement ("Privacy Statement") applies to the treatment of personally identifiable information
            submitted by, or otherwise obtained from, you in connection with the associated application ("Application",
            "Website", "We" or "Us"). By using or otherwise accessing the Application, you acknowledge that you accept
            the practices and policies outlined in this Privacy Statement.</p>
    </section>
    <section class="center">
        <p>We use technologies like cookies (small files stored by your browser), web beacons, or unique device
            identifiers to anonymously identify your computer or device so we can deliver a better experience. Our
            systems also log information like your browser, operating system and IP address. We do not collect
            personally identifiable information about you. In other words, we do not collect information such as your
            name, address, phone number or email address. We do not knowingly contact or collect personal information
            from children under 13. If you believe we have inadvertently collected such information, please contact us
            so we can promptly obtain parental consent or remove the information.</p>
        <p>In serving you, we may use or store your precise geographic location, if you give us permission to do so. We
            do not use or share this data for any other purpose. Many devices will indicate through an icon when
            location services are operating. We only share this location information with others as approved by you.</p>
    </section>
    <section class="center">
        <p>If you have any questions or concerns regarding privacy on our Website, please send us a detailed message at
            m[at]matchilling(dot)com. We will make every effort to resolve your concerns.</p>
        <p>Policy Version Date: October 20, 2016</p>
    </section>
</div>
</body>
</html>