{% extends "base.twig.html" %}

{% block head %}
    <title>Tronald Dump on Slack</title>
{% endblock %}

{% block content %}
    <section class="center">
        <h1>Slack Bot</h1>

        <div class="alert alert-success" role="alert">
            <p>{{ 'The Tronald was successfully installed for your "%s" Slack team' | format(team_name) }}</p>
            <p>Get random Tronald quotes by typing <code class="quoted bold">/tronald</code> into your slack console.</p>
            <p>Search the complete dump with <code class="quoted bold">/tronald ? {search_term}</code>.</p>
            
            <a href="https://slack.com">Open slack</a>
        </div>
    </section>
{% endblock %}
