{% extends "base.twig.html" %}

{% block head %}
    <title>Search for {{ query }}</title>
    <meta content="description" name="Search for: {{ query }}" />
    <link rel="canonical" href="{{ pagination.current }}" />
{% endblock %}

{% block content %}
    <section>
        <form action="{{ path('web.search') }}" method="GET" class="center">
            <h1 class="center">
                <small>Search for: </small>
                <input type="text" name="query" value="{{ query }}">
                <input type="submit" value="Search" class="btn">
            </h1>
        </form>
        {% if quotes %}
            {% for quote in quotes %}
                <blockquote cite="{{ path('web.get_quote', { id: quote.quote_id }) }}">
                    <p>{{ quote.value }}</p>
                    <footer>
                        - <cite><a href="{{ path('web.get_quote', { id: quote.quote_id }) }}">{{ quote.appeared_at | date("F jS, Y") }}</a></cite>
                    </footer>
                </blockquote>
            {% endfor %}
        {% endif %}
        {% if pagination.prev %}
            <a class="btn" href="{{ pagination.prev }}">prev</a>
        {% endif %}
        {% if pagination.next %}
            <a class="btn" href="{{ pagination.next }}">next</a>
        {% endif %}
    </section>
{% endblock %}
